.button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}


.textCenter {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paddingMedium {
  padding: 24px;
}
